!!!
%html
  %head
    %script{:src=>"http://js.pusherapp.com/1.5/pusher.min.js"}
    %title Pusher Fun
    :javascript
      var server = new Pusher("#{API_KEY}", 'test_channel');
      server.bind('my_event', function(message) {
        alert(message);
      });
  %body
    Hi!
