!!!
%html
  %head
    %script{:src=>"http://js.pusherapp.com/1.5/pusher.min.js"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}
    %title Pusher Fun
    :javascript
      $(document).ready(function() {
        var server = new Pusher("#{API_KEY}", 'test_channel');
        server.bind('my_event', function(message) {
          $(".messages").prepend('<p>' + message + '</p>');
        });
        $("#new_message_form").submit(function() {
          $.post("/messages", $("#new_message_form").serialize(), function(message) {
            $(".messages").prepend('<p>' + message + '</p>');
            $("input#screen_name_input").attr('disabled','disabled');
            $("input#message_input").val("");
          });
          return false;
        });
      });
  %body
    %fieldset
      %form{:action=>"/messages", :id=>"new_message_form", :method=>"post"}
        %p
          %label Screen Name:
          %br/
          %input{:type=>"screen_name", :name=>"screen_name", :id=>"screen_name_input"}
        %p
          %label Message:
          %br/
          %input{:type=>"text", :name=>"message", :id=>"message_input"}
        %p
          %input{:name=>"submit", :type=>"submit", :value=>"Submit"}
    .messages
      - @messages.reverse.each do |message|
        %p
          = message['screen_name']
          said: 
          = message['message']
